<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dynamic_field</display-name>
  <welcome-file-list>
    
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ActionServlet</display-name>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.servlet.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/ActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationSevlet</display-name>
    <servlet-name>RegistrationSevlet</servlet-name>
    <servlet-class>com.servlet.RegistrationSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationSevlet</servlet-name>
    <url-pattern>/RegistrationSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.servlet.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepositoryFetch</display-name>
    <servlet-name>RepositoryFetch</servlet-name>
    <servlet-class>com.servlet.RepositoryFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepositoryFetch</servlet-name>
    <url-pattern>/RepositoryFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableSchemaServlet</display-name>
    <servlet-name>TableSchemaServlet</servlet-name>
    <servlet-class>com.servlet.TableSchemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableSchemaServlet</servlet-name>
    <url-pattern>/TableSchemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableDataServlet</display-name>
    <servlet-name>TableDataServlet</servlet-name>
    <servlet-class>com.servlet.TableDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableDataServlet</servlet-name>
    <url-pattern>/TableDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDataServlet</display-name>
    <servlet-name>InsertDataServlet</servlet-name>
    <servlet-class>com.servlet.InsertDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDataServlet</servlet-name>
    <url-pattern>/InsertDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>com.servlet.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>com.servlet.DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RowServlet</display-name>
    <servlet-name>RowServlet</servlet-name>
    <servlet-class>com.servlet.RowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RowServlet</servlet-name>
    <url-pattern>/RowServlet</url-pattern>
  </servlet-mapping>
</web-app>